@font-face {
    font-family: "AnonymousPro";
    src: url("AnonymousPro-Regular.ttf");
}

main {
    padding-top: 2rem;
}

.background {
    background: url("../images/plans-background.jpg") center/cover;
    filter: grayscale(40%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.plan-section {
    display: inline-block;
    width: 80%;
    border: 2px solid #0e4f1f;
    background: #87e8a1;
    padding: 1rem;
    margin: 1rem 0rem;
    position: relative;
}

.plan-section:hover,
.plan-section:active {
    box-shadow: 2px 2px 4px black;
}


.plan-section a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.plan-section__title {
    color: black;
    font-weight: bold;
}

.plan-section--featured {
    background: #0e4f1f;
}

.plan-section__title.featured {
    color: white;
}

.plan-section__summary {
    color: darkgray;
    font-weight: bold;
}

.plan-section__description {
    background: white;
    color: black;
    padding: 1rem;
    border: 2px solid black;
    font-family: "AnonymousPro", sans-serif;
}

.plan__badge {
    position: absolute;
    top: 0rem;
    right: 0rem;
    margin: 1.2rem;
    font-size: 0.8rem;
    color: white;
    background: #ff5454;
    padding: 0.5rem;
}

#plus {
    background: lightgreen;
}

#free {
    background: light;
    float: right;
    text-align: right;
}

@media (min-width: 40rem) {
    main {
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }
}