main {
    padding-top: 32px;
}

.background {
    background: url("../images/plans-background.jpg") center/cover;
    filter: grayscale(40%);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.plan-section {
    display: inline-block;
    width: 80%;
    border: 2px solid #0e4f1f;
    background: #87e8a1;
    padding: 16px;
    margin: 16px 0px;
    position: relative;
}

.plan-section:hover,
.plan-section:active {
    box-shadow: 2px 2px 4px black;
}


.plan-section a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.plan-section__title {
    color: black;
    font-weight: bold;
}

.plan-section--featured {
    background: #0e4f1f;
}

.plan-section__title.featured {
    color: white;
}

.plan-section__summary {
    color: darkgray;
    font-weight: bold;
}

.plan-section__description {
    background: white;
    color: black;
    padding: 16px;
    border: 2px solid black;
}

.plan__badge {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 20px;
    font-size: 12px;
    color: white;
    background: #ff5454;
    padding: 8px;
}

#plus {
    background: lightgreen;
}

#free {
    background: light;
    float: right;
    text-align: right;
}